---
import type { ListItemProps } from "astro-portabletext/lib/types"

type Props = ListItemProps

const { node, index, isInline, ...attrs } = Astro.props
---

<li class="text-base leading-[1.4] text-foreground" {...attrs}><slot /></li>
