---
import { PortableText as PortableTextRenderer } from "astro-portabletext"
import Block from "./portable-text/Block.astro"
import List from "./portable-text/List.astro"
import ListItem from "./portable-text/ListItem.astro"
import Link from "./portable-text/Link.astro"

interface Props {
  value: any[]
}

const { value = [] } = Astro.props

const components = {
  block: {
    h1: Block,
    h2: Block,
    h3: Block,
    h4: Block,
    h5: Block,
    h6: Block,
    blockquote: Block,
    normal: Block,
  },
  list: {
    bullet: List,
    number: List,
  },
  listItem: {
    bullet: ListItem,
    number: ListItem,
  },
  mark: {
    link: Link,
  },
}
---

<div class="prose max-w-none">
  <PortableTextRenderer value={value} components={components} onMissingComponent={false} />
</div>
